<!--
============================================
; Title: Week 3
; Author: Professor Krasso
; Date: 07 November 2021
; Modified By: Angela Martin
; Description: This program demonstrates the
; use of the MEAN Stack.
;===========================================
-->

<div>
  <div class="image-container">

    <img class="center circular-image" src='assets/steven-wright-mq8QogEBy00-unsplash (2).jpg'>
    <div class="img-attribution"><h4>Photo by Steven Wright on Unsplash</h4></div>
    <div class="upper-left"><h1>We have searched everywhere...</h1></div>
    <div class="lower-right"><h1>And we can't find that page...</h1></div>
  </div>
</div>
