/*
============================================
; Title: Assignment Week 3
; Author: Professor Krasso
; Date: 07 November 2021
; Modified By: Angela Martin
; Description: This program demonstrates the
; use of The MEAN stack.
===========================================
*/

mat-card {
  padding: 20px 20px 20px 30px;
}

mat-card-title {
  margin: auto auto auto -8px;
  background: #4DD0E1;
  text-align: center;
  min-height: 40px;

}

button {
  margin: 10px;
  min-width: 150px;

}

mat-form-field {
  width: 100%;
}


