<!--
============================================
; Title: Week 3
; Author: Professor Krasso
; Date: 07 November 2021
; Modified By: Angela Martin
; Description: This program demonstrates the
; use of the MEAN Stack.
;===========================================
-->

<div fxLayout="column">
  <mat-card fxFlex>
    <mat-card-title>
      Create New Task
    </mat-card-title>

    <mat-card-content>

      <form>
        <mat-form-field appearance="fill">
          <input [(ngModel)]="task" matInput placeholder="Example: Do homework" name="task">
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <button (click)="cancel()" mat-raised-button color="accent">Cancel</button>
      <button (click)="createNewTask()" mat-raised-button color="accent">Create New Task</button>
    </mat-card-actions>

  </mat-card>

</div>
