/*
============================================
; Title: Assignment Week 3
; Author: Professor Krasso
; Date: 07 November 2021
; Modified By: Angela Martin
; Description: This program demonstrates the
; use of The MEAN stack.
===========================================
*/

mat-card {
  padding: 10px;
}

mat-card title {
  background: rgb(211, 145, 226);
}

button {
  min-width: 150px;
}

input {

}
