/*
============================================
; Title: Assignment Week 3
; Author: Professor Krasso
; Date: 07 November 2021
; Modified By: Angela Martin
; Description: This program demonstrates the
; use of The MEAN stack.
===========================================
*/

.heading {
    margin-top: 30px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: 400;
  }

.center {
  width: 30%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container {
  text-align: center;
  font-weight: lighter;
  margin: 25px 30px auto 30px;
  width: 30%;
  min-height: 200px;
  background-color: rgb(244 244 244);
}

.wide-button {
  width: 600px;
}

mat-card {
  background-color: #F5F5F5;
}

mat-card-title {
  background: #4DD0E1;
  padding: 5px;
  min-height: 60px;
  max-height: 60px;
}

mat-card-content {
  font-size: 24px;

}

p {
  margin: 3px;
}

button {
  background-color: #4DD0E1;
}






