<!--
============================================
; Title: Week 3
; Author: Professor Krasso
; Date: 07 November 2021
; Modified By: Angela Martin
; Description: This program demonstrates the
; use of the MEAN Stack.
;===========================================
-->

<!-- Main container -->
<div fxLayout fxLayout="column">

  <!-- Main container heading styling -->
  <div fxLayout fxLayout="column" fxLayoutAlign="center">
    <h1 class="heading">
      Contact Us
    </h1>
  </div>

  <!-- Div with both mat-cards -->
  <mat-container fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="300px">

    <!-- Left mat-card -->
    <mat-card class="container" fxFlex fxLayout="column">
      <mat-card-title fxFlex fxLayoutAlign="center center">
        <mat-icon>call</mat-icon>Call
      </mat-card-title>
      <mat-card-content fxFlex fxLayoutAlign="center center">
        <p>777-805-3725</p>
      </mat-card-content>
    </mat-card>

    <!-- Right mat-card -->
    <mat-card class="container" fxFlex fxLayout="column">
      <mat-card-title fxFlex fxLayoutAlign="center center">
        <mat-icon>home</mat-icon>Address
      </mat-card-title>
      <mat-card-content fxFlex fxLayoutAlign="center center">
        <p>
          531 Miracle Lane,<br>
          Miami, Florida 39861
        </p>
      </mat-card-content>

    </mat-card>

  </mat-container>

</div>
