/*
============================================
; Title: Assignment Week 3
; Author: Professor Krasso
; Date: 07 November 2021
; Modified By: Angela Martin
; Description: This program demonstrates the
; use of The MEAN stack.
===========================================
*/

/* Main container styling */
.container {
  text-align: center;
  font-weight: lighter;
  margin: 150px 30px auto 30px;
  width: 30%;
  min-height: 200px;
  background-color: #f4f4f4;
}

/* Main container header styling */
.heading {
    margin-top: 100px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: 400;
}

/* Main content side padding */
.main-content {
  padding-left: 30px;
  padding-right: 30px;
}

/* mat-card styling */
mat-card {
  margin-top: 400px;
}

/* mat-card header styling */
mat-card-title {
  background: #4DD0E1;
  min-height: 60px;
  max-height: 60px;
}

/* Paragraph styling */
p {
  font-size: 20px;
}
