<!--
============================================
; Title: Week 3
; Author: Professor Krasso
; Date: 07 November 2021
; Modified By: Angela Martin
; Description: This program demonstrates the
; use of the MEAN Stack.
;===========================================
-->

<div class="toolbar" fxLayout="column">

    <!-- navigation -->
    <mat-toolbar class="toolbar">

      <mat-toolbar-row fxLayoutAlign="center">
        <img src="assets/bucket-icon.png" height="35" />
        <span>nodebucket</span>
      </mat-toolbar-row>

      <mat-toolbar-row fxLayout="row wrap" fxLayoutAlign="start end">

            <button mat-button routerLink="" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Home</button>
            <button mat-button routerLink="/about" routerLinkActive="active">About Us</button>
            <button mat-button routerLink="/contact" routerLinkActive="active">Contact Us</button>
            <span class="move-right"></span>
            <mat-icon color="primary">account_circle</mat-icon>
            <button mat-button [matMenuTriggerFor]="menu"><mat-icon color="primary">arrow_drop_down</mat-icon></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="session/signin">Sign-Out</button>
              <button mat-menu-item routerLink="session/signin">Sign-In</button>
            </mat-menu>

      </mat-toolbar-row>
    </mat-toolbar>

    <!-- main content -->
    <div>

      <main class="main-content" fxFlex="100%;">
        <router-outlet></router-outlet>
      </main>

    </div>

    <!-- footer -->
    <div>
      <footer class="footer">
        <mat-toolbar class="footer-content">
          <p>
            &copy; {{year | date: 'yyyy'}} - Angela Martin - nodebucket - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
          </p>
        </mat-toolbar>
      </footer>
    </div>

</div>
